
{{ define "main" }}

      <section class="desktop">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <div class="heading text-center soft-heading">
                     <h3>{{ i18n "homeTitle1" }}</h3>
                     <h3>{{ i18n "homeTitle2" }}</h3>
                     <p>{{ i18n "homeSubTitle" }}</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="desktop-mobile-app">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <img src="image/software-desktop.png" class="img-resposive" alt="desktop">
               </div>
            </div>
         </div>
      </div>
      <section class="text-box-image">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="heading text-center">
                     <h3>{{ i18n "homeFeaturedHeader1" }}</h3>
                     <h3>{{ i18n "homeFeaturedHeader2" }}</h3>
                  </div>
               </div>
               <div class="col-md-4 col-sm-4">
                  <div class="feature-text text-center">
                     <i class="far fa-clock"></i>
                     <h4>{{ i18n "homeFeaturedItem1Title" }}</h4>
                     <p>{{ i18n "homeFeaturedItem1" }}</p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-4">
                  <div class="feature-text text-center">
                     <i class="fas fa-user-check"></i>
                     <h4>{{ i18n "homeFeaturedItem2Title" }}</h4>
                     <p>{{ i18n "homeFeaturedItem2" }}</p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-4">
                  <div class="feature-text text-center">
                     <i class="fas fa-dollar-sign"></i>
                     <h4>{{ i18n "homeFeaturedItem3Title" }}</h4>
                     <p>{{ i18n "homeFeaturedItem3" }}</p>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="discover" id="funcionalidades">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                <img src="/image/discover.png" class="img-responsive" alt="discover">
               </div>
               <div class="col-md-6">
                  <div class="right-text left-text">
                     <h4><i class="fas fa-magic"></i>{{ i18n "homeAutomationNutritionTitle" }}</h4>
                     <p>{{ i18n "homeAutomationNutrition" }}</p>
                     <a href="#"  class="btn button3">{{ i18n "learnMore" }}</a>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="discover">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="right-text">
                     <h4><i class="far fa-thumbs-up"></i> {{ i18n "homeAutomationLikeTitle" }}</h4>
                     <p>{{ i18n "homeAutomationLike" }}</p>
                     <a href="#" class="btn button3">{{ i18n "learnMore" }}</a>
                  </div>
               </div>
               <div class="col-md-6">
                <img src="image/control.png" class="img-responsive" alt="image">
               </div>
            </div>
         </div>
      </section>

      <section class="discover">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                <img src="/image/discover.png" class="img-responsive" alt="discover">
               </div>
               <div class="col-md-6">
                  <div class="right-text left-text">
                     <h4><i class="fas fa-user-plus"></i> {{ i18n "homeAutomationFollowTitle" }}</h4>
                     <p>{{ i18n "homeAutomationFollow" }}</p>
                     <a href="#"  class="btn button3">{{ i18n "learnMore" }}</a>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="discover">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="right-text">
                     <h4><i class="far fa-handshake"></i> {{ i18n "homeAutomationWelcomeTitle" }}</h4>
                     <p>{{ i18n "homeAutomationWelcome" }}</p>
                     <a href="#" class="btn button3">{{ i18n "learnMore" }}</a>
                  </div>
               </div>
               <div class="col-md-6">
                <img src="image/control.png" class="img-responsive" alt="image">
               </div>
            </div>
         </div>
      </section>

      <section class="discover">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                <img src="/image/discover.png" class="img-responsive" alt="discover">
               </div>
               <div class="col-md-6">
                  <div class="right-text left-text">
                     <h4><i class="far fa-comments"></i> {{ i18n "homeAutomationCommentTitle" }}</h4>
                     <p>{{ i18n "homeAutomationComment" }}</p>
                     <a href="#"  class="btn button3">{{ i18n "learnMore" }}</a>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="discover">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="right-text">
                     <h4><i class="fas fa-user-minus"></i> {{ i18n "homeAutomationUnfollowTitle" }}</h4>
                     <p>{{ i18n "homeAutomationUnfollow" }}</p>
                     <a href="#" class="btn button3">{{ i18n "learnMore" }}</a>
                  </div>
               </div>
               <div class="col-md-6">
                <img src="image/control.png" class="img-responsive" alt="image">
               </div>
            </div>
         </div>
      </section>

      <section class="testimonial">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="heading text-center">
                     <h3>{{ i18n "homeTestimonialsHeader1" }}</h3>
                     <h3>{{ i18n "homeTestimonialsHeader2" }}</h3>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 no-padding">
                  <div class="responsive3">
                     <div class="quest-text1 wow ">
                        <div class="img-hover9"></div>
                        <p class="line">{{ i18n "homeTestimonial1" }}</p>
                        <hr class="border-hr">
                        <img src="image/testimonial.png" class="img-circle" alt="testimonial">
                        <h5><a href="#">{{ i18n "homeTestimonial1Name" }}</a></h5>
                     </div>
                     <div class="quest-text1 ">
                        <div class="img-hover9"></div>
                        <p class="line">{{ i18n "homeTestimonial2" }}</p>
                        <hr class="border-hr">
                        <img src="image/testimonial2.png" class="img-circle" alt="testimonial">
                        <h5><a href="#">{{ i18n "homeTestimonial2Name" }}</a></h5>
                     </div>
                     <div class="quest-text1">
                        <div class="img-hover9"></div>
                        <p class="line">{{ i18n "homeTestimonial3" }}</p>
                        <hr class="border-hr">
                        <img src="image/testimonial3.png" class="img-circle" alt="testimonial">
                        <h5><a href="#">{{ i18n "homeTestimonial3Name" }}</a></h5>
                     </div>
                     <div class="quest-text1 ">
                        <div class="img-hover9"></div>
                        <p class="line">{{ i18n "homeTestimonial4" }}</p>
                        <hr class="border-hr">
                        <img src="image/testimonial.png" class="img-circle" alt="testimonial">
                        <h5><a href="#">{{ i18n "homeTestimonial4Name" }}</a></h5>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="pricing" id="preco">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="heading text-center">
                     <h3>{{ i18n "homePricingTitle1" }}</h3>
                     <h3>{{ i18n "homePricingTitle2" }}</h3>
                  </div>
               </div>
               <div class="col-md-4"></div>
               <div class="col-md-4">
                  <div class="pricing-table">
                     <div class="pricing-option">
                        <h4>{{ i18n "homePricingBoxTitle1" }}</h4>
                        <h1><sup>{{ i18n "homePricingBoxCurrency" }}</sup>{{ i18n "homePricingBoxPrice" }}</h1>
                        <p>{{ i18n "homePricingBoxTitle2" }}</p>

                           <div class="hr"></div>

                        <ul>
                           <li>{{ i18n "homePricingBoxItem1" }}</li>
                           <li>{{ i18n "homePricingBoxItem2" }}</li>
                           <li>{{ i18n "homePricingBoxItem3" }}</li>
                           <li>{{ i18n "homePricingBoxItem4" }}</li>
                           <li>{{ i18n "homePricingBoxItem5" }}</li>
                           <li>{{ i18n "homePricingBoxItem6" }}</li>
                           <li>{{ i18n "homePricingBoxItem7" }}</li>
                           <li>{{ i18n "homePricingBoxItem8" }}</li>
                           <li>{{ i18n "homePricingBoxItem9" }}</li>
                           <li>{{ i18n "homePricingBoxItem10" }}</li>

                        </ul>
                        <div class="price">
                           <a href="#" class="btn button">{{ i18n "downloadButton" }}</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4"></div>
               <div class="clear-fix"></div>
               <div class="col-md-12">
                  <hr class="hreing">
               </div>
               <div class="clear-fix"></div>
               <div class="col-md-8">
                  <div class="left-text-desktop">
                     <h3>{{ i18n "homeHelpCenterTitle" }}</h3>
                     <p>{{ i18n "homeHelpCenter" }}</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="getbutton">
                     <a href="#" class="btn button">{{ i18n "homeHelpCenterButton" }}</a>
                  </div>
               </div>
            </div>
         </div>
      </section>

{{end}}
