<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>

  <title>{{.Site.Title}} | {{.Site.Params.tagline}}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <header class="navigation  main-navigation">
    <nav class="navbar navbar-custom navbar-fixed-top">
      <div class="container text-center">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
          <a class="navbar-brand" href="#"><img src="/image/logo.png" alt="{{ .Site.Title }}"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav menu-left">
            <li><a href="/">{{ i18n "menuHome" }}</a></li>
            <li><a href="#{{ i18n "menuFeatures" }}">{{ i18n "menuFeatures" }}</a></li>
            <li><a href="https://auttogram.zendesk.com/hc/">{{ i18n "menuHelp" }}</a></li>
            <li><a href="#{{ i18n "menuPricing" }}">{{ i18n "menuPricing" }}</a></li>

            {{ if .IsTranslated }}
            <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  {{.Language.LanguageName}}
                  <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                  {{ range .Translations }}
                  <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                  {{ end}}
                </ul>
             </li>
             {{ end }}

          </ul>
          <ul class="nav navbar-nav navbar-right button-right">
            <li><a href="#" data-toggle="modal" data-target="#download" >{{ i18n "downloadButton" }}</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  {{ block "main" .}} {{end}}

  <footer class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="footer-logo-text">
            <img src="/image/logo.png" alt="{{ .Site.Title }}">
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="main-3-section text-right">
            <ul>
              <li class="facebook-icon"><a href="https://fb.com/auttogram"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
              <li class="instagram-icon"><a href="https://instagram.com/auttogram"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="clear-fix"></div>
        <div class="col-md-12 col-sm-12">
          <hr class="hraing1">
          <div class="footer-bottom1">
            <p>{{ i18n "signature" }} <a href="http://cbstartups.com.br"> Companhia Brasileira de Startups</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div id="download" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="download" aria-hidden="true">
    <div class="modal-content modal-dialog">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">{{ i18n "close" }}</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">{{ i18n "downloadTitle" }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6" style="border-right: #d2d0d0;border-right-width: 2px;border-right-style: solid;">
            <p class="lead text-center">{{ i18n "downloadRequirementsW" }}</p>
            <ul class="list-unstyled" style="line-height: 2">
              <li class="text-center">{{ i18n "downloadRequirements" }}</li>
              <li>{{ i18n "downloadRequirementsW1" }}</li>
              <li>{{ i18n "downloadRequirementsW2" }}</li>
              <li>{{ i18n "downloadRequirementsW3" }}</li>
              <li>{{ i18n "downloadRequirementsW4" }}</li>
              <li>{{ i18n "downloadRequirementsW5" }}</li>
              <li>{{ i18n "downloadRequirementsW6" }}</li>
              <li>{{ i18n "downloadRequirementsW7" }}</li>
            </ul>
            <p><a href="https://auttogram.com.br/download/auttogram.exe" class="btn btn-block button"> <i class="fab fa-windows"></i> {{ i18n "downloadButton" }}</a></p>
          </div>
          <div class="col-xs-6">
            <p class="lead text-center">{{ i18n "downloadRequirementsM" }}</p>
            <ul class="list-unstyled" style="line-height: 2">
              <li class="text-center">{{ i18n "downloadRequirements" }}</li>
              <li>{{ i18n "downloadRequirementsM1" }}</li>
              <li>{{ i18n "downloadRequirementsM2" }}</li>
              <li>{{ i18n "downloadRequirementsM3" }}</li>
              <li>{{ i18n "downloadRequirementsM4" }}</li>
              <li>{{ i18n "downloadRequirementsM5" }}</li>
              <li>{{ i18n "downloadRequirementsM6" }}</li>
              <li>&nbsp;</li>
            </ul>
            <p><a href="https://auttogram.com.br/download/auttogram.dmg" class="btn btn-block button"><i class="fab fa-apple"></i> {{ i18n "downloadButton" }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/responsive.css" rel="stylesheet" type="text/css">
  <link href="/css/slick.css" rel="stylesheet" type="text/css">
  <link href="/css/slick-theme.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
  <link href="/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">

  <!--jQuery-->
  <script src="/js/jquery-2.2.4.min.js"></script>
  <!--Bootstrap-->
  <script src="/js/bootstrap.min.js"></script>
  <!--wow js-->
  <script src="/js/wow.js"></script>
  <!--Slick-->
  <script src="/js/slick.js"></script>
  <!--Custom js-->
  <script src="/js/custom.js"></script>

</body>

</html>
