<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

  <head>

      <title>{{.Site.Title}} | {{.Site.Params.tagline}}</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="../css/style.css" rel="stylesheet">
      <link href="/css/responsive.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
   </head>

   <body>
      <header class="navigation  main-navigation">
         <nav class="navbar navbar-custom navbar-fixed-top">
            <div class="container text-center">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#"><img src="/image/logo-footer.png" alt="{{ .Site.Title }}"></a>
               </div>
               <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav menu-left">
                     <li><a href="#">Início</a></li>
                     <li><a href="#">Funcionalidades</a></li>
                     <li><a href="#">Blog</a></li>
                     <li><a href="#">Preços</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right button-right">
                     <li><a href="#">{{ i18n "downloadButton" }}</a></li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>

      {{ block "main" .}} {{end}}

      <footer class="footer-bottom">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-sm-6">
                  <div  class="footer-logo-text">
                     <img src="/image/logo_footer.png" alt="{{ .Site.Title }}">
                  </div>
               </div>
               <div class="col-md-6 col-sm-6">
                  <div class="main-3-section text-right">
                     <ul>
                        <li class="facebook-icon"><a href="https://fb.com/auttogram"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="instagram-icon"><a href="https://instagram.com/auttogram"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
               </div>
               <div class="clear-fix"></div>
               <div class="col-md-12 col-sm-12">
                  <hr class="hraing1">
                  <div class="footer-bottom1">
                     <p>{{ i18n "signature" }} <a href="http://cbstartups.com.br"> Companhia Brasileira de Startups</a></p>
                  </div>
               </div>
            </div>
         </div>
      </footer>

      <!--jQuery-->
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
       <!--Bootstrap-->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <!--Slick-->
      <script src="/js/slick.js"></script>
       <!--Custom js-->
      <script src="/js/custom.js"></script>

   </body>

</html>
